<%- include('../partials/header') %>

<table id="allPalacesTable">
  <thead id="allPalacesTH">
    <tr>
      <th>Sr No.</th>
      <th>Palace/Fort Name</th>
      <th>Location (City)</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="allPalacesTB">
    <% var indexNo = 0;palaces.forEach(function(p, indexNo) { indexNo++;%>
      <tr>
        <td><%= indexNo %>)</td>
        <td><%= p.palaceName %></td>
        <td><%= p.location %></td>
        <td><a href="/palaces/<%= p._id %>">DETAILS</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>