<%- include('../partials/header') %>

<section id="show-page">
    <div>Name: </div>
    <div>
        <!-- <%= palace.title %> -->
    </div>
    <div>Location: </div>
    <div>
        <!-- <%= movie.releaseYear %> -->
    </div>
    <div>Google Maps Link: </div>
    <div>
        <!-- <%= movie.mpaaRating %> -->
    </div>
    <div>Construction Start End: </div>
    <div>
        <!-- <%= movie.mpaaRating %> -->
    </div>
    <div>Construction End Date: </div>
    <div>
        <!-- <%= movie.mpaaRating %> -->
    </div>
    <div>Built By: </div>
    <div>
        <!-- <%= movie.mpaaRating %> -->
    </div>
    <div>Current Owner: </div>
    <div>
        <!-- <%= movie.mpaaRating %> -->
    </div>
    <div>Open to Public: </div>
    <div>
        <!-- <%= movie.nowShowing ? 'Yes' : 'No' %> -->
    </div>
</section>

<%- include('../partials/footer') %>