<%- include('../partials/header') %>

<section id="show-page">
  <table id="palaceDetailsTable">
    <tbody id="palaceDetailsTB">
      <tr>
        <td>
          Name:
        </td>
        <td>
          <%= palaces.palaceName %>
        </td>
      </tr>
      <tr>
        <td>
          Location (City):
        </td>
        <td>
          <%= palaces.location %>
        </td>
      </tr>
      <tr>
        <td>
          Website:
        </td>
        <td class="link">
          <a href="<%= palaces.website %>" target=”_blank”>
            <%= palaces.website %>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Google Map Link:
        </td>
        <td class="link">
          <% if (palaces.googleMapLink) { %>
          <a href="<%= palaces.googleMapLink %>" target=”_blank”>
            Click here to see the location of <%= palaces.palaceName %>
          </a>
          <% } else { %>
           
          <% } %>
        </td>
      </tr>
      <tr>
        <td>
          Construction Start Date:
        </td>
        <td>
          <%= palaces.constructionStart %>
        </td>
      </tr>
      <tr>
        <td>
          Construction End Date:
        </td>
        <td>
          <%= palaces.constructionEnd %>
        </td>
      </tr>
      <tr>
        <td>
          Built By:
        </td>
        <td>
          <%= palaces.builtBy %>
        </td>
      </tr>
      <tr>
        <td>
          Current Owner:
        </td>
        <td>
          <%= palaces.currentOwner %>
        </td>
      </tr>
      <tr>
        <td>
          Open to Public:
        </td>
        <td>
          <%= palaces.openToPublic %>
        </td>
      </tr>
      
      <% if(user) { %>
        <% if (user?._id.equals(palaces.user)) { %>
          <!-- <tr>
            <td>
              <form id="deletePalaceBtnForm" action="/palaces/<%= palaces._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Palace/Fort">
              </form>
            </td>
            <td>
              <form id="updatePalaceBtnForm" action="/palaces/<%= palaces._id %>/editPalaces" method="POST">
                <input type="submit" value="Update Palace/Fort">
              </form>
            </td>
          </tr> -->
          <tr>
            <td rowspan="2">
              <form id="deletePalaceBtnForm" action="/palaces/<%= palaces._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Palace/Fort">
              </form>
            </td>
          </tr>
          <tr>
            <td rowspan="2">
              <form id="updatePalaceBtnForm" action="/palaces/<%= palaces._id %>/editPalaces" method="POST">
                <input type="submit" value="Update Palace/Fort">
              </form>
            </td>
          </tr>
        <% } %>
        <!-- <tr >
          <td colspan="2">
            <form id="updatePalaceBtnForm" action="/palaces/<%= palaces._id %>/editPalaces" method="POST">
              <input type="submit" value="Update Palace/Fort">
            </form>
          </td>
        </tr> -->
      <% } %>

      <tr>
        <td colspan="2">
          <h4>
            Please note, 'Construction Start Date' and<br>'Construction End Date' can be approximate dates and/or years.
          </h4>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <h4>
            Many palaces/forts have had areas constructed much after the initial construction had ended.
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<br><br>
<h2>Pictures</h2>
<div class="imageSlider">
  <div class="slider">
    <% if (palaces.images.length) { %>
      <% palaces.images.forEach(function(image) { %>
        <div>
          <img class="palaceImage" alt="<%= palaces.palaceName %>" src="<%= image.link %>">
          <br><br>
          <% if (user?._id.equals(image.user)) { %>
          <form action="/photos/<%= image._id %>?_method=DELETE" method="POST">
            <!-- <button name="deletePhoto" type="submit">Delete Photo</button> -->
            <input type="submit" name="deletePhoto" value="Delete Photo">
          </form>
          <% } %>
          
        </div>
      <% }) %>
    <% } else {%>
      <h2 id="noPictures">There are no pictures to display</h2>
    <% } %>
  </div>
</div>

<% if(user) { %>
    <p>* YOU CAN ONLY DELETE PICTURES UPLOADED BY YOU *</p>
    <form class="review-form" method="POST" action="/palaces/<%= palaces._id %>/addImages">
      <label>Add Link Of A Picture:</label>
      <input type="text" name="link">
      <input type="submit" value="Add Image">
    </form>

    <br><br>
    <h2>Reviews</h2>
    <form class="review-form" method="POST" action="/palaces/<%= palaces._id %>/reviews">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
  <% } %>
    
  <% if (palaces.reviews.length) { %>
    <div id="reviewsTableDiv">
      <table id="reviewsTable">
        <thead id="reviewsTableTH">
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Review</th>
            <th>Rating</th>
            <th></th>
            <th></th>
            <!-- <% palaces.reviews.forEach(function(r) { %>
            <% if (user?._id.equals(r.user)) { %>
            <th></th>
            <th></th>
            <% } %>
            <% }); %> -->
          </tr>
        </thead>
        <tbody id="reviewsTableTB">
          <% let total = 0 %>
          <% palaces.reviews.forEach(function(r) { %>
            <% total += r.rating %>
            <tr>
              <td>
                <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" >
                <br>
                <%= r.userName %>
              </td>
              <td><%= r.createdAt.toLocaleDateString() %></td>
              <td><pre><%= r.content %></pre></td>
              <td><%= r.rating %></td>
              <% if (user?._id.equals(r.user)) { %>
              <td>
                <a href="/palaces/<%= r._id %>/editReviews">Edit Review</a>
              </td>
              <td>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
              </td>
              <% } else { %>
                <td>
                  <div class="editReviewWarning">You can't edit this review</div>
                </td>
                <td>
                 <div class="editReviewWarning">You can't delete this review</div>
                </td>
                <% } %>
            <!-- </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><strong></strong></td>
              <% if (user?._id.equals(r.user)) { %>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <% } %>
            </tr> -->
          <% }); %>
          <tr>
            <!-- <td colspan="3"></td> -->
            <td></td>
              <td></td>
              <td></td>
            <td><strong><%= (total / palaces.reviews.length).toFixed(1) %></strong></td>
            <td></td>
            <td></td>
            <!-- <% palaces.reviews.forEach(function(r) { %>
            <% if (user?._id.equals(r.user)) { %>
              <td>
                
              </td>
              <td>
                
              </td>
              <% } %>
            <% }); %> -->
          </tr>
        </tbody>
      </table>
    </div>
  <% } else { %>
    <h2>This Palace/Fort Has Reviews Yet</h2>
  <% } %>

<%- include('../partials/footer') %>