<%- include('../partials/header') %>

<section id="show-page">
    <div>Name: </div>
    <div>
        <%= palaces.palaceName %>
    </div>
    <div>Location (City): </div>
    <div>
        <%= palaces.location %>
    </div>
    <div>Google Maps Link: </div>
    <div>
        <%= palaces.googleMapLink %>
    </div>
    <div>Construction Start End: </div>
    <div>
        <%= palaces.constructionStart %>
    </div>
    <div>Construction End Date: </div>
    <div>
        <%= palaces.constructionEnd %>
    </div>
    <div>Built By: </div>
    <div>
        <%= palaces.builtBy %>
    </div>
    <div>Current Owner: </div>
    <div>
        <%= palaces.currentOwner %>
    </div>
    <div>Open to Public: </div>
    <div>
        <%= palaces.openToPublic ? 'Yes' : 'No' %>
    </div>
</section>

<%- include('../partials/footer') %>