<%- include('../partials/header') %>

<section id="show-page">
  <table>
    <tbody>
      <tr>
        <td>
          Name:
        </td>
        <td>
          <%= palaces.palaceName %>
        </td>
      </tr>
      <tr>
        <td>
          Location (City):
        </td>
        <td>
          <%= palaces.location %>
        </td>
      </tr>
      <tr>
        <td>
          Google Map Link:
        </td>
        <td id="googleMapLink">
          <% if (palaces.googleMapLink) { %>
          <a href="<%= palaces.googleMapLink %>" target=”_blank”>
            Click here to see the location of <%= palaces.palaceName %>
          </a>
          <% } else { %>
           
          <% } %>
        </td>
      </tr>
      <tr>
        <td>
          Construction Start Date:
        </td>
        <td>
          <%= palaces.constructionStart %>
        </td>
      </tr>
      <tr>
        <td>
          Construction End Date:
        </td>
        <td>
          <%= palaces.constructionEnd %>
        </td>
      </tr>
      <tr>
        <td>
          Built By:
        </td>
        <td>
          <%= palaces.builtBy %>
        </td>
      </tr>
      <tr>
        <td>
          Current Owner:
        </td>
        <td>
          <%= palaces.currentOwner %>
        </td>
      </tr>
      <tr>
        <td>
          Open to Public:
        </td>
        <td>
          <%= palaces.openToPublic %>
        </td>
      </tr>
      <% if(user) { %>
        <tr>
          <td colspan="2" id="editPalaceRow">
            <form id="updatePalaceBtnForm" action="/palaces/<%= palaces._id %>/editPalaces" method="POST">
              <input type="submit" value="Update Palace/Fort">
            </form>
          </td>
        </tr>
      <% } %>
      <tr>
        <td colspan="2">
          <h4>
            Please note, 'Construction Start Date' and<br>'Construction End Date' can be approximate dates and/or years.
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<br><br>
<h2>Pictures</h2>
<div class="imageSlider">
  <div class="slider">
    <% if (palaces.images.length) { %>
      <% palaces.images.forEach(function(image) { %>
        <img src="<%= image.link %>">
      <% }) %>
    <% } %>
  </div>
</div>

<% if(user) { %>
    <p>* YOU CAN ONLY DELETE PICTURES UPLOADED BY YOU *</p>
    <form class="review-form" method="POST" action="/palaces/<%= palaces._id %>/addImages">
      <label>Add Link Of A Picture:</label>
      <input type="text" name="link">
      <input type="submit" value="Add Image">
    </form>

    <br><br>
    <h2>Reviews</h2>
    <form class="review-form" method="POST" action="/palaces/<%= palaces._id %>/reviews">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
  <% } %>
    
    <% if (palaces.reviews.length) { %>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Review</th>
            <th>Rating</th>
            <% palaces.reviews.forEach(function(r) { %>
            <% if (user?._id.equals(r.user)) { %>
            <th></th>
            <th></th>
            <% } %>
            <% }); %>
          </tr>
        </thead>
        <tbody>
          <!-- Yep, we can define variables! -->
          <% let total = 0 %>
          <% palaces.reviews.forEach(function(r) { %>
            <!-- Accumulate the total rating -->
            <% total += r.rating %>
            <tr>
              <!-- .toLocaleDateString() provides a more friendly date format -->
              <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" >
                <br>
                <%= r.userName %>
              </td>
              <td><%= r.createdAt.toLocaleDateString() %></td>
              <td><pre><%= r.content %></pre></td>
              <td><%= r.rating %></td>
              <% if (user?._id.equals(r.user)) { %>
              <td>
                <a href="/palaces/<%= r._id %>/editReviews">Edit Review</a>
              </td>
              <td>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
              </td>
              <% } %>
            </tr>
          <% }); %>
          <!-- Add a row to display the avg AFTER the forEach iteration  -->
          <tr>
            <td colspan="3"></td>
            <td><strong><%= (total / palaces.reviews.length).toFixed(1) %></strong></td>
          </tr>
        </tbody>
      </table>
    <% } else { %>
      <h2>This Palace/Fort Has Reviews Yet</h2>
    <% } %>

<%- include('../partials/footer') %>